.container {
  /* margin-bottom: 200px; */
  /* padding: 9rem 4.5rem; */
  /* height: 25rem; */
  padding: 1.5rem;
  background-color: var(--color-primary);
  color: white;
}

.container h2 {
  text-align: center;
}

.content {
  display: flex;
}

@media (max-width: 1100px) {
  .content {
    flex-direction: column;
  }
  .aboutMe {
    margin-top: 2rem;
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  /* margin: 3rem auto 0; */
  padding: 0 2rem;
  /* text-align: left; */
  line-height: 1.7rem;
}

.aboutMe h3 {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    position: relative;
  }
}
