.container {
  margin-bottom: 200px;
  box-sizing: border-box;
  padding: 9rem 4.5rem;
  margin: 0 auto 0;
  background-color: var(--green);
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 1rem auto 0;
  text-align: center;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .container {
    position: relative;
  }
}
