.content {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.backgroundDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 150px;
  background: linear-gradient(134deg, var(--green) 0%, var(--green) 99%);
  transform: skewY(3deg);
  z-index: -1;
  pointer-events: none;
}

.title {
  color: var(--green);
}

.subTitle {
  color: rgba(10, 10, 10, 0.85);
}

.flexRow {
  display: flex;
  gap: 3rem;
}
