.container {
  height: 100%;
  color: var(--color-primary);
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 3rem;
}

.container h2 {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.iconBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.iconBox i {
  font-size: 4rem;
}
